@media (max-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  body{
    height:none;
  }

  h1{
    font-size:28pt;
  }
}

@media (max-width:520px)  { /* smartphones, Android phones, landscape iPhone */
  body{
    height:auto;
  }

  h1{
    font-size:30pt !important;
    width:100%;
    text-align:center
  }

  p{
    font-size:14pt;
    text-align:center
  }

  ul{
    display:flex;
    flex-direction: column;
    list-style-type:none;
  }

  ul > li:nth-child(1){
    margin-right:0px;
  }

  ul > li:nth-child(2){
    margin-top:2em;
  }

  ul > li:nth-child(3){
    margin-left:0px;
    margin-top:2em;
  }
  button{
    padding:0px;
    width:84vw;
    height:4em;
    font-size:12px;
    letter-spacing:1px;
    border-radius:1px;
  }
  .btn-text{
    text-align: center;
  }
  .button-icons{
    height:20px;
    margin-left:33%;
    padding-right:16px;
  }
  .main-content{
    padding-top:16vh;
    margin:auto;
    width:84%;
    font-family: 'PT Sans', sans-serif;
    text-align:center;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

}

@media (max-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  body{
    height:none;
  }

  h1{
    font-size:28pt;
  }
}

@media (max-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
  h1{
    font-size:28pt;
  }
}

@media (max-width:1025px) { /* big landscape tablets, laptops, and desktops */
  h1{
    font-size:28pt;
  }
}

@media (max-width:1281px) {
  h1{
    font-size:28pt;
  }
}
