@media (max-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  body{
    height:none;
  }

  h1{
    font-size:28pt;
  }
}

@media (max-width:520px)  { /* smartphones, Android phones, landscape iPhone */
  body{
    height:none;
  }

  h1{
    font-size:28pt;
    width:100%;
    color:red;
  }
}

@media (max-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  body{
    height:none;
  }

  h1{
    font-size:28pt;
  }
}

@media (max-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
  h1{
    font-size:28pt;
  }
}

@media (max-width:1025px) { /* big landscape tablets, laptops, and desktops */
  h1{
    font-size:32pt;
  }
}

@media (max-width:1281px) {
  h1{
    font-size:32pt;
  }
}
