
body{
  margin:0 auto;
  height:100vh;
  background:#efefef;
  z-index:0;
  color:#3a3a3a;
}

h1{
  font-size:28pt;
  font-family: 'Open Sans', sans-serif;
}

p{
  font-size:12pt;
  font-family:'PT Sans', sans-serif;
  line-height:140%;
}

ul{
  display:inline-flex;
  width:100%;
  margin:auto;
}

ul > li:nth-child(1){
  margin-right:33px;
}


ul > li:nth-child(3){
  margin-left:33px
}


button{
  display:flex;
  align-items:center;
  padding:10px 20px 10px 20px;
  font-size:10px;
  text-transform:uppercase;
  letter-spacing:2px;
  border-radius:2px;
  background: #009BA5;
  font-weight:bold;
  transition: 0.5s;
  border:none;
  color:#fff;
}

button:hover{
  background:rgb(0, 155, 165, .7);
  color:#fff;
  cursor: pointer;
}

a{
  text-decoration:none;
  color:#fff;
  display:inline-flex;
}


.main-content{
  padding-top:33vh;
  margin:auto;
  width:84%;
  font-family: 'PT Sans', sans-serif;
  text-align:center;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.button-icons{
  height:16px;
  padding-right:8px;
}

/*--Importants--*/

#menu > a:nth-child(1){
  color:#009BA5 !important;
}

/*--Keyframes--*/
@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}
