/* footer{
  width:100%;
  padding:4em 0 2em 0;
  background-color: #fff;
  Font-Family: 'Muli', Sans-Serif;
  border-top:1px solid rgb(148,149,153,.3);
  z-index:1;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
} */

footer{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  width:100%;
  background-color:#9A55EE;
  /* background-image: linear-gradient(to right, #1C78E3, #DC00EF); */
  bottom:0;
  z-index:1;
  text-align:left;
  border-top:1px solid rgb(148,149,153,.2);
  padding: 40px 0 36px 0;
}

.copyright{
  font-size:16pt;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color:#fff;
  margin-left:16.5vw;
}
.contact-icons{
  visibility:hidden;
}

.contact-icons > a:nth-child(1){
  margin-right:12px;
}

.contact-icons > a:nth-child(2){
  margin-right:12px;
}

.footer-icon{
  height:24px;
}
