/* footer{
  width:100%;
  padding:4em 0 2em 0;
  background-color: #fff;
  Font-Family: 'Muli', Sans-Serif;
  border-top:1px solid rgb(148,149,153,.3);
  z-index:1;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
} */

footer{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  font-size:13.5pt;
  width:100%;
  /* background:#1C78E3; */
  background:#fff;
  bottom:0;
  z-index:1;
  text-align:left;
  border-top:1px solid rgb(148,149,153,.4);
  padding: 15px 0 10px 0;
  position:absolute;
}

.copyright{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color:#575757;
  margin-left:16.5vw;
}
.contact-icons{
  margin-right:16.5vw;
}

.contact-icons > a:nth-child(1){
  margin-right:12px;
}

.contact-icons > a:nth-child(2){
  margin-right:12px;
}

.footer-icon{
  height:24px;
}
