@media only screen and (max-width: 1281px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (max-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  h1 {
    font-weight: 800;
    font-size: 32pt;
    padding: 0 0 1em 0;
  }
  h2 {
    font-weight: 800;
    font-size: 22pt;
    margin: 0 0 2em 0;
  }
  h2 span {
    padding: 0 16px 0 0px;
  }
  h3 {
    font-size: 16pt;
    font-weight: 500;
    margin: 0 0 2em 0;
  }
  h4 {
    font-size: 14pt;
    font-weight: 500;
    margin: 0 0 8px 0;
  }
  p{
    font-size:12pt;
  }
  ul{
    font-size:12pt;
  }
  .main-content {
    padding: 16vh 0 2vh 0;
    width: 80%;
    margin:auto;
  }
  .row{
    margin-bottom:4em;
  }
  .row-1-column-2_67-33_text-images{
    grid-column-gap:1.5em;
  }
  .row-1-column-2_67-33_text-images div:nth-child(1){
    padding-right:.5em;
  }
  .row-2-column-2_50-50_text{
    grid-column-gap:2.5em;
    grid-row-gap:1em;
  }
  .row-2-column-2_50-50_text-images{
    grid-column-gap:1.5em;
    grid-row-gap:2em;
  }
  .list-header_row{
    margin-top:1em;
  }
  .list-header_row li a{
    font-size:14.5pt;
    font-weight:500;
  }
  .highlight{
    font-weight:400;

  }

  #row-header{
    margin-bottom:4em;
  }
}
@media (max-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  h1 {
    font-weight: 800;
    font-size: 32pt;
    padding: 0 0 1em 0;
  }
  h2 {
    font-weight: 800;
    font-size: 28pt;
    margin: 0 0 2em 0;
  }
  h2 span {
    padding: 0 16px 0 0px;
  }
  h3 {
    font-size: 20pt;
    font-weight: 400;
    margin: 3em 0 3em 0;
  }
  h4 {
    font-size: 18pt;
    font-weight: 400;
    margin: 0 0 8px 0;
  }
  p{
    font-size:14.5pt;;
  }
  .main-content {
    padding: 16vh 0 2vh 0;
    width: 80%;
    margin:auto;
  }
  .row-2-column-2_50-50_text{
    grid-template-columns:1fr;
  }
  .row-2-column-2_50-50_text-images{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
  }
  .highlight{
    font-weight:300;
  }
}
@media (max-width: 520px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
}
@media (max-width: 320px) {
  /* smartphones, Android phones, landscape iPhone */
}
