

@media (min-width:1281px) {
  h1{
    font-size:32pt;
  }

  h2{
    font-size:24pt;
  }

  h3{
    font-size: 20pt;
  }

  p{
    font-size:14pt;
  }

  ul{
    font-size:14pt;
  }
}


@media (max-width:1025px){

}


@media (max-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */

  .container{
    display:flex;
    flex-direction:column;
    padding-top:16vh;
    margin:0 auto 33vh auto;
    font-family: 'PT Sans', sans-serif;
  }

  #container-column-2{
    margin-top:4.4em;
    display:none;
  }
}



@media (max-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */

  body{

  }

  h1{
    font-size:24pt;
  }

  h2{
    font-size:20pt;
  }

  h3{
    font-size: 16pt;
  }
  .image-container-3{
    grid-template-columns:1fr;
  }

  .image-of-3{
    width:100%;
    border:1px solid rgb(148,149,153,.7);
  }

  .image-large-container{
    margin:0 0 32px 0;
    text-align: left;
    font-size:10pt;
    font-family: 'Roboto', sans-serif;
    font-weight:400;
  }
  .image-container-16{
    display:grid;
    grid-template-columns:1fr 1fr;
  }

  .container{
    max-width:90%;
  }
}
