/* @<name>*/
/* - - - - COLORS & EFFECTS - - - - -  */
/* - - - - FONTS - - - - - - */
.font-heading_text-h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 2.6em;
  background-color: #434145;
  background-size: 100%;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 1px;
}
.font-heading_text-h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.6em;
  text-align: left;
  border-bottom: 3px solid #434145;
  line-height: 0.1em;
  color: #434145;
  margin: 0 0 2em 0;
}
.font-heading_text-h2 span {
  background: #F9F9F9;
  padding: 0 24px 0 0px;
}
.font-heading_text-h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  font-weight: 700;
  margin: 8px 0 8px 0;
  text-align: left;
  line-height: 140%;
  color: #434145;
}
.font-body_text-p {
  margin: 0;
  font-size: 14pt;
  font-family: 'Roboto', sans-serif;
  line-height: 150%;
  font-weight: 300;
  color: #434145;
  margin: 0 0 16px 0;
}
.font-subtitle {
  font-family: 'Roboto', sans-serif;
  font-size: 16pt;
  font-weight: 500;
  text-align: left;
  line-height: 140%;
  color: #7500D0;
  margin: 24px 0 8px 0;
}
.font-hyperlink_text {
  margin: 0;
  font-size: 14pt;
  font-family: 'Roboto', sans-serif;
  line-height: 150%;
  font-weight: 300;
  color: #434145;
  margin: 0 0 16px 0;
  color: #CF11FF;
  text-decoration: none;
  font-weight: 400;
}
.font-hyperlink_text:hover {
  text-decoration: underline;
}
.font-caption {
  color: #434145;
  font-family: 'Roboto', sans-serif;
  font-size: 12.5pt;
  line-height: 150%;
  font-weight: 300;
}
.font-h5 {
  font-family: 'Roboto', sans-serif;
  font-size: 14.5pt;
  font-weight: 400;
  text-align: left;
  line-height: 140%;
  color: #434145;
  margin: 4px 0 4px 0;
}
.highlight {
  background-color: rgba(28, 120, 227, 0.085);
  color: #282828;
}
.list-standard {
  margin: 0;
  font-size: 14pt;
  font-family: 'Roboto', sans-serif;
  line-height: 150%;
  font-weight: 300;
  color: #434145;
  margin: 0 0 16px 0;
  font-weight: 400;
  list-style-type: none;
  padding: 0;
}
/* - - - -CONTAINERS - - - - - */
.container-screen_content-67 {
  display: flex;
  flex-direction: column;
  padding: 24vh 0 4vh 0;
  width: 67%;
  margin: auto;
}
.container-body-100 {
  margin: 0 auto;
  background: #F9F9F9;
  z-index: 0;
  min-height: 100%;
}
.row-1-column-2_50-50_text_image {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2em;
}
.row-1-column-2_50-50_text_image div p {
  margin-bottom: 1em;
}
.row-1-column-2_50-50_text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 4em;
}
.row-1-column-2_50-50_text div p {
  margin: 0;
}
.row-1-column-2_50-50_text div ul {
  text-align: justify;
}
.row-2-column-2_50-50_text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 4em;
  grid-row-gap: 2em;
}
.row-2-column-2_50-50_text div p {
  text-align: justify;
  margin: 0;
}
.row-2-column-2_50-50_text-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 2em;
  grid-row-gap: 4em;
}
.row-2-column-2_50-50_text-images div p {
  margin: 0;
}
.row-1-column-2_33-67 {
  display: grid;
  grid-template-columns: 1.4fr 2.6fr;
  grid-column-gap: 2em;
}
.row-1-column-2_33-67 div:nth-child(2) h4 {
  margin-top: 0;
}
.row-1-column-2_67-33_text-images {
  display: grid;
  grid-template-columns: 2.3fr 1.7fr;
  grid-column-gap: 2em;
}
.row-1-column-2_67-33_text-images div p {
  margin-bottom: 1em;
}
.row-1-column-2_67-33_text-images div:nth-child(1) {
  padding-right: 2em;
}
html {
  background: #7500D0;
}
body {
  margin: 0 auto;
  background: #F9F9F9;
  z-index: 0;
  min-height: 100%;
  font-size: 16pt;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 2.6em;
  background-color: #434145;
  background-size: 100%;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 1px;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.6em;
  text-align: left;
  border-bottom: 3px solid #434145;
  line-height: 0.1em;
  color: #434145;
  margin: 0 0 2em 0;
}
h2 span {
  background: #F9F9F9;
  padding: 0 24px 0 0px;
}
h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  font-weight: 700;
  margin: 8px 0 8px 0;
  text-align: left;
  line-height: 140%;
  color: #434145;
}
h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 16pt;
  font-weight: 500;
  text-align: left;
  line-height: 140%;
  color: #7500D0;
  margin: 24px 0 8px 0;
}
h5 {
  font-family: 'Roboto', sans-serif;
  font-size: 14.5pt;
  font-weight: 400;
  text-align: left;
  line-height: 140%;
  color: #434145;
  margin: 4px 0 4px 0;
}
p {
  margin: 0;
  font-size: 14pt;
  font-family: 'Roboto', sans-serif;
  line-height: 150%;
  font-weight: 300;
  color: #434145;
  margin: 0 0 16px 0;
}
ul {
  margin: 0;
  font-size: 14pt;
  font-family: 'Roboto', sans-serif;
  line-height: 150%;
  font-weight: 300;
  color: #434145;
  margin: 0 0 16px 0;
  font-weight: 400;
  list-style-type: none;
  padding: 0;
}
ul li:not(first-child) {
  margin-top: 12px;
}
a {
  margin: 0;
  font-size: 14pt;
  font-family: 'Roboto', sans-serif;
  line-height: 150%;
  font-weight: 300;
  color: #434145;
  margin: 0 0 16px 0;
  color: #CF11FF;
  text-decoration: none;
  font-weight: 400;
}
a:hover {
  text-decoration: underline;
}
sub {
  color: #434145;
  font-family: 'Roboto', sans-serif;
  font-size: 12.5pt;
  line-height: 150%;
  font-weight: 300;
}
.main-content {
  display: flex;
  flex-direction: column;
  padding: 24vh 0 4vh 0;
  width: 67%;
  margin: auto;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forward;
}
.row {
  margin: 0 0 8em 0;
}
.list-columns {
  display: flex;
  flex-direction: row;
  gap: 5em;
}
.list-header_row {
  padding: 0;
  margin-top: 3em;
  list-style-type: none;
}
.list-header_row li a {
  margin: 0;
  font-size: 14pt;
  font-family: 'Roboto', sans-serif;
  line-height: 150%;
  font-weight: 300;
  color: #434145;
  margin: 0 0 16px 0;
  color: #CF11FF;
  text-decoration: none;
  color: #282828;
  margin-botton: 0;
  font-size: 18pt;
  font-weight: 400;
}
.list-header_row li a:hover {
  text-decoration: underline;
}
.list-header_row li a:hover {
  color: #7500D0;
  text-decoration: underline;
}
.list-header_row :not(:first-child) {
  margin-top: 1em;
}
.image:hover sub {
  color: #CF11FF;
}
.image-100-image {
  max-width: 100%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  transition: 0.3s;
  border: 1px solid #e0e0e0;
}
.image-100-image:hover {
  box-shadow: rgba(50, 50, 93, 0.2) 0px 6px 12px -2px, rgba(0, 0, 0, 0.2) 0px 3px 7px -3px;
}
.image-67-image {
  max-width: 67%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  transition: 0.5s;
}
.image-67-image:hover {
  box-shadow: rgba(50, 50, 93, 0.2) 0px 6px 12px -2px, rgba(0, 0, 0, 0.2) 0px 3px 7px -3px;
}
.image-subscript {
  color: #434145;
  font-family: 'Roboto', sans-serif;
  font-size: 12.5pt;
  line-height: 150%;
  font-weight: 300;
  display: block;
}
.image-anchor {
  max-width: 100%;
}
#row-header {
  margin-bottom: 28vh;
}
#row-header div h1 span {
  display: inline-flex;
  align-items: center;
}
#row-header div h1 span img {
  margin-left: 4em;
  max-height: 54px;
  display: none;
}
#row-header div p {
  width: 67%;
}
#row-documents ul {
  padding: 0;
}
#row-documents ul li {
  color: Red;
  border-bottom: 1px solid lightgrey;
  padding: 1em 0 1em 0;
}
#row-documents ul li:not(first-child) {
  padding-top: 1em;
}
#list-columns_artifacts div h4 {
  color: #434145;
}
/*--Importantants--*/
#menu > li > a {
  text-decoration: none;
  color: #282828;
}
footer {
  position: relative;
}
/*--Keyframes--*/
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
