

@media (min-width:1281px) {
  h1{
    font-size:32pt !important;
  }
}


@media (max-width:1025px){

  #picture-of-me{
    margin-top:2em;
    max-width:100%;
  }

  #column-a{
    width:67%;
  }

  #column-b{
    width:33%;
  }

  h1{
    font-size:28pt;
  }

  .btn-list{
    margin-left:0;
  }

  button{
    height:4em;
    letter-spacing:1px;
    border-radius:1px;
  }
}


@media (max-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
  h1{
    font-size:28pt;
  }

  .btn-list{
    margin-left:0;

  }

  .btn-list > li:nth-child(1){

  }

  .btn-list > li:nth-child(2){
  }

  .btn-list{

  }

  .btn-list > li:nth-child(1){

  }

  .btn-list > li:nth-child(2){

  }

  #column-a{
    width:50%;
  }

  #column-b{
    width:50%;

  }

  #picture-of-me{
  }
}



@media (max-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  body{
    height:auto;
  }

  h1{
    font-size:28pt !important;
    width:100%;
    text-align:left;
  }

  p{
    font-size:14pt;
    text-align:center
  }

  #column-two-row-one{
    margin-bottom:8em;
    display:flex;
    flex-direction:column;
  }

  #contact-image{
    margin-top:2em;
    max-width:100% !important;
    float:none;
  }

  .contact-type{
    font-size:13pt;
  }

  .contact-specific > a{
    font-size:14pt;
  }

  #column-a{
    width:100%;
  }

  #column-b{
    width:100%;
  }

  #column-a > p{
    padding:0px 0px 0px 0px;
    text-align: left;
    margin-top:0;
  }
}

@media (max-width:520px)  { /* smartphones, Android phones, landscape iPhone */

}



@media (max-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  body{
    height:none;
  }

  h1{
    font-size:28pt;
  }
}
