

@media only screen  and (min-width : 1824px) {
  .main-content{
    width:50%;
  }
}

@media only screen and (max-width:1281px) { /* big landscape tablets, laptops, and desktops */
  .main-content{
    width:67%;
  }
}


@media (max-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
  .contact-section{
    padding:16px;
    margin-bottom:2em;
    width:96%;
  }

}



@media (max-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  body{
    height:100%;
  }

  h1{
    font-size:24pt;
  }

  h2{
    font-size:20pt;
  }

  h3{
    font-size: 16pt;
  }

  p{
  }

  ul{

  }

  footer{
  }

  .contact-image{
    margin:0;
  }

  .main-content{
    width:90%;
  }
  .contact-description-list{

  }

  .contact-section{
    padding:16px;
    margin-bottom:2em;
    width:94%;
  }

  .row-a{
    flex-direction:column;
    margin-left:0;
    width:100%;
  }
  .row-a-column-left{
    width:100%;
  }
  .row-a-column-left > p{
    text-align:left;
  }
  .row-a-column-right{
    padding-left:0em;
    text-align:left;
  }

  /*-- Buttons --*/

    /* button{
      width:67vw;
      font-size:13px;
      letter-spacing:.6px;
      border-radius:1px;
      font-weight:500;
    }

    .btn-list > li:nth-child(1){
      margin-right:0px;
    }

    .btn-list > li:nth-child(2){
      margin-top:1em;
      margin-left:0;
    }

    .btn-list > li:nth-child(3){
      margin-top:1em;
      margin-left:0;
    }

    .btn-list{
      flex-direction: column;
      float:none;
      margin-bottom:24px;

    }

    .btn-text{
      text-align:center;
    }

    .button-icons{
      height:18px;
      margin-left:30%;
      padding-right:16px;
    } */

}

@media (max-width:520px)  { /* smartphones, Android phones, landscape iPhone */

}



@media (max-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  body{
    height:none;
  }
}
