

@media only screen  and (min-width : 1824px) {
  .main-content{
    width:50%;
    padding-top:18vh;
  }

  h1{
    font-size:44pt;
  }

  h2{
    font-size:32pt;
  }

  h3{
    font-size:24pt;
  }

  h4{
    font-size:16pt;
    padding-right:0;
  }

  p{
    font-size:14pt;
  }

  ul{
    font-size:13.5pt;
  }
}

@media only screen and (max-width:1281px) { /* big landscape tablets, laptops, and desktops */
  .main-content{
    width:67%;
  }
}


@media (max-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */

  body{
    height:auto;
  }

  .contact-section{
    margin-bottom:2em;
    width:96%;
    flex-direction: column;
  }

  .row-a-column-left{
    width:100%;
  }

  .row-a-column-right{
    width:100%;
  }

  .contact-image{
    float:left;
    margin-top:2em;
    max-width:100%;
  }

  footer{
    position:relative;
  }

}



@media (max-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  body{
    height:auto;
  }

  h1{
    font-size:32pt;
  }

  h2{
    font-size:24pt;
    margin-bottom:1em;
  }

  h3{
    font-size:16pt;
  }

  h4{
    font-size:14pt;
    padding-right:0;
  }

  p{
  }

  ul{

  }

  footer{
  }


  .main-content{
    width:78%;
  }
  .contact-description-list{

  }

  .contact-section{
    margin-bottom:2em;
    width:100%;
  }

  .row-a{
    flex-direction:column;
    margin-left:0;
    width:100%;
  }
  .row-a-column-left{
    width:100%;
  }
  .row-a-column-left > p{
    text-align:justify;
    padding-right:0;
  }
  .row-a-column-right{
    padding-left:0em;
    text-align:left;
  }
  .contact-image{
    max-width:96%;
  }
}

@media (max-width:520px)  { /* smartphones, Android phones, landscape iPhone */

}



@media (max-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  body{
    height:none;
  }
}
