body{
  margin:0 auto;
  background:#f8f8f8;
  z-index:0;
  color:#3a3a3a;
}

h1{
  font-size:28pt;
  font-family: 'Open Sans', sans-serif;
}

h2{
  font-family: 'Open Sans', sans-serif;
  font-size: 18pt;
  margin-top:0;
}

p{
  font-size:12pt;
  font-family:'PT Sans', sans-serif;
  line-height:140%;
  width:84%;
}
ul{

}
.main-content{
  display:flex;
  flex-direction:column;
  padding-top:16vh;
  margin:auto;
  width:84%;
  font-family: 'PT Sans', sans-serif;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.contact-type{
  font-size:11pt;
}

.contact-specific{
  font-weight:bold;
  margin-top:5px;
}

#column-two-row-one{
  margin-bottom:8em;
  display:flex;
  flex-direction:row;
}

#column-a{
  width:50%;
}

#column-b{
  width:50%;
}

#contact-image{
  max-width:84%;
  border-radius: 1px;
  opacity:.8;
}



#menu > a:nth-child(3){
  color:#009BA5;
}

/*--Keyframes--*/
@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}
