html{
  background-color:#1C78E3;
}

body{
  margin:0 auto;
  min-height:100%;
  background:#f8f8f8;
  z-index:0;
  color:#3a3a3a;
}

h1{
  font-size:36pt;
  font-family: 'Raleway', sans-serif;
  font-weight:300;
  text-align:left;
  margin:0;
  z-index:1;
}

h2{
  font-size: 24pt;
  font-family: 'Raleway', sans-serif;
  font-weight:300;
  text-align: left;
}

h3{
  font-family: 'Raleway', sans-serif;
  font-size:18pt ;
  font-weight:400;
  margin: 0 0 16px 0;
  text-align: left;
}

h4{
  font-family: 'Raleway', sans-serif;
  font-size: 16.5pt;
  font-weight:400;
  margin: 0 0 8px 0;
  text-align: left;
}

p{
  font-size:12.5pt;
  font-family: 'Roboto', sans-serif;
  line-height:160%;
  font-weight:300;
}

ul{
  list-style-type:none;
  font-family: 'Roboto', sans-serif;
  margin: 0 0 24px 0;
  line-height:170%;
  font-size:12.5pt;
  font-weight:300;
  padding:0;
}

.main-content{
  display:flex;
  flex-direction:column;
  padding-top:16vh;
  width:67%;
  margin:auto auto 36vh auto;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.contact-section{
  display:flex;
  /* box-shadow: rgb(0 0 0 / 33%) 0px 0.5px 2px; */
  background-color:#fff;
  padding:16px;
  border-radius:2px;
  border:1px solid rgb(148,149,153,.4);
}

.row-a{
  display:flex;
  flex-direction:row;
}

.row-a-column-left{
}

.row-a-column-right{
}

.row-a-column-left > p{
  margin: 0 0 12px 0;
  text-align:left;
}

.contact-image{
  margin-top:24px;
  opacity:.8;
  max-width:14em;
  border-radius:2px;
  border:1px solid rgb(148,149,153,.8);
  float:right;
  display:none;
}

.contact-description-list{
  font-weight:400;

}
.contact-anchors{
  color:#1C78E3;
}
.contact-anchors:hover{
  color:#0047FF;
  text-decoration:underline;
}

.contact-descriptor-bold{
}

a{
  text-decoration:none;
  color:#fff;
  display:inline-flex;
}

/*--Importants--*/

#menu > a:{
  text-decoration: none;
}

#menu > a:nth-child(3){
  color:#1C78E3;
  opacity:1;
}

/*--Keyframes--*/
@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}
