body{
  margin:0 auto;
  background:#f8f8f8;
  z-index:0;
  color:#3a3a3a;
}

h1{
  font-size:28pt;
  font-family: 'Open Sans', sans-serif;
  text-align:left;
}
h2{
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  font-size: 20pt;

}

p{
  font-size:12pt;
  font-family:'PT Sans', sans-serif;
  line-height:140%;
}
.main-content{
  display:flex;
  flex-direction:column;
  padding-top:16vh;
  margin:auto;
  width:84%;
  font-family: 'PT Sans', sans-serif;
  text-align:center;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.button-icons{
  height:16px;
  padding-right:8px;
}


#column-two-row-one{
  margin-bottom:8em;
  display:flex;
  flex-direction:row;
}

#picture-of-me{
  width:100%;
}

#column-a{
  width:33%;
}
#column-b{
  width:67%;
}
#column-b > p{
  padding:50px 0px 0px 50px;
  text-align: left;
}
/*--Importants--*/

#menu > a:nth-child(2){
  color:#009BA5;
}

/*--Keyframes--*/
@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}
