
@media only screen  and (min-width : 1824px) {
  .main-content{
    width:50%;
  }
}

@media only screen and (max-width:1281px) { /* big landscape tablets, laptops, and desktops */
  .main-content{
    width:67%;
  }
}

@media (max-width:1025px) {
  body{
    background:#fafafa;
  }
  .main-content{
    width:67%;
  }
}


@media (max-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
  body{
    background:#fafafa;
    height:auto;
  }

  #row-a-1-column-2{
    padding-left:0;
  }
  footer{
   position:relative !important;
   margin-top:4em;
  }
  .row-a-1{
    display:flex;
    flex-direction:column-reverse;
  }
  .home-image{
    display:none;
  }
  #image-home-about-ghost{
    display:inline-block;
    max-width:100%;
    border:1px solid rgb(148,149,153,.8);
    margin-top:24px;
  }
}

@media (max-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  body{
    background:#fafafa;
    z-index:0;
    color:#3a3a3a;
    height:auto;
  }

  h1{
    font-size:24pt;
  }

  h2{
    font-size:20pt;
  }

  h3{
    font-size: 16pt;
  }

  p{
    text-align: justify;
  }

  #image-home-about-ghost{
    display:inline-block;
    max-width:100%;
    border:1px solid rgb(148,149,153,.8);
  }

  .main-content{
    width:90%;
    margin-bottom:4em;
  }

  .home-section{
    margin-bottom:2em;
    padding:16px;
  }

  .home-link-list{
    font-family: 'Roboto', sans-serif;
    line-height:180%;
    margin:0, 0, 16px, 0;
  }

  #row-a-1-column-2{
    padding:0;
  }
}

@media (max-width:520px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */

}

@media (max-width:320px)  { /* smartphones, Android phones, landscape iPhone */

}
