
@media (max-width:1281px) { /* big landscape tablets, laptops, and desktops */
}

@media (min-width:1025px) {

}


@media (max-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
  footer{
   position:relative !important;
  }
  .row-a-1{
    display:flex;
    flex-direction:column-reverse;
  }
  .home-section-67{
    padding:16px;
    margin-bottom:2em;
    width:96%;
  }
  .home-section-100{
    padding:16px;
    margin-bottom:2em;
    width:94%;
  }
  .home-image{
    display:none;
  }
  #image-home-about-ghost{
    display:inline-block;
    max-width:67%;
    border:1px solid rgb(148,149,153,.8);
    margin-top:24px;
  }
}

@media (max-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  body{
    margin:0 auto;
    background:#fafafa;
    z-index:0;
    color:#3a3a3a;
    min-height:100%;
  }

  h1{
    font-size:24pt;
  }

  h2{
    font-size:20pt;
  }

  h3{
    font-size: 16pt;
  }

  p{
    font-size:12pt;
    text-align: justify;
  }

  ul{

  }

  footer{
   position:relative !important;
  }

  #image-home-about-ghost{
    display:inline-block;
    max-width:67%;
    border:1px solid rgb(148,149,153,.8);
    margin-top:24px;
  }

  .main-content{
    width:90%;
  }

  .home-section-67{
    padding:16px;
    margin-bottom:2em;
    width:94%;
  }
  .home-section-100{
    padding:16px;
    margin-bottom:2em;
    width:94%;
  }

  #row-a-1-column-2{
    padding:0;
  }

  /*-- Buttons --*/

  /* button{
    width:67vw;
    font-size:13px;
    letter-spacing:.6px;
    border-radius:1px;
    font-weight:500;
  }

  .btn-list > li:nth-child(1){
    margin-right:0px;
  }

  .btn-list > li:nth-child(2){
    margin-top:1em;
    margin-left:0;
  }

  .btn-list > li:nth-child(3){
    margin-top:1em;
    margin-left:0;
  }

  .btn-list{
    flex-direction: column;
    float:none;
    margin-bottom:24px;

  }

  .btn-text{
    text-align: center;
  }

  .button-icons{
    height:18px;
    margin-left:30%;
    padding-right:16px;
  } */
}

@media (max-width:520px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */

}

@media (max-width:320px)  { /* smartphones, Android phones, landscape iPhone */

}
