/* @<name>*/
/* - - - - COLORS & EFFECTS - - - - -  */
/* - - - - FONTS - - - - - - */
.font-heading_text-h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 2.6em;
  background-color: #434145;
  background-size: 100%;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 1px;
}
.font-heading_text-h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.6em;
  text-align: left;
  border-bottom: 3px solid #434145;
  line-height: 0.1em;
  color: #434145;
  margin: 0 0 2em 0;
}
.font-heading_text-h2 span {
  background: #F9F9F9;
  padding: 0 24px 0 0px;
}
.font-heading_text-h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  font-weight: 700;
  margin: 8px 0 8px 0;
  text-align: left;
  line-height: 140%;
  color: #434145;
}
.font-body_text-p {
  margin: 0;
  font-size: 14pt;
  font-family: 'Roboto', sans-serif;
  line-height: 150%;
  font-weight: 300;
  color: #434145;
  margin: 0 0 16px 0;
}
.font-subtitle {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  text-align: left;
  line-height: 140%;
  color: #434145;
  margin: 24px 0 8px 0;
}
.font-hyperlink_text {
  margin: 0;
  font-size: 14pt;
  font-family: 'Roboto', sans-serif;
  line-height: 150%;
  font-weight: 300;
  color: #434145;
  margin: 0 0 16px 0;
  color: #A338F8;
  text-decoration: none;
  font-weight: 400;
}
.font-hyperlink_text:hover {
  text-decoration: underline;
}
.font-caption {
  color: #434145;
  font-family: 'Roboto', sans-serif;
  font-size: 12.5pt;
  line-height: 150%;
  font-weight: 300;
}
/* - - - -CONTAINERS - - - - - */
.container-screen_content-67 {
  display: flex;
  flex-direction: column;
  padding: 24vh 0 24vh 0;
  width: 67%;
  margin-left: 17%;
}
.container-body-100 {
  margin: 0 auto;
  background: #F9F9F9;
  z-index: 0;
  min-height: 100%;
}
/* - - - - Misc  - - - -  -*/
html {
  background: #7500D0;
}
body {
  margin: 0 auto;
  background: #F9F9F9;
  z-index: 0;
  min-height: 100%;
  font-size: 16pt;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 2.6em;
  background-color: #434145;
  background-size: 100%;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 1px;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.6em;
  text-align: left;
  border-bottom: 3px solid #434145;
  line-height: 0.1em;
  color: #434145;
  margin: 0 0 2em 0;
}
h2 span {
  background: #F9F9F9;
  padding: 0 24px 0 0px;
}
h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  font-weight: 700;
  margin: 8px 0 8px 0;
  text-align: left;
  line-height: 140%;
  color: #434145;
}
h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  text-align: left;
  line-height: 140%;
  color: #434145;
  margin: 24px 0 8px 0;
}
p {
  margin: 0;
  font-size: 14pt;
  font-family: 'Roboto', sans-serif;
  line-height: 150%;
  font-weight: 300;
  color: #434145;
  margin: 0 0 16px 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
a {
  margin: 0;
  font-size: 14pt;
  font-family: 'Roboto', sans-serif;
  line-height: 150%;
  font-weight: 300;
  color: #434145;
  margin: 0 0 16px 0;
  color: #A338F8;
  text-decoration: none;
  font-weight: 400;
}
a:hover {
  text-decoration: underline;
}
sub {
  color: #434145;
  font-family: 'Roboto', sans-serif;
  font-size: 12.5pt;
  line-height: 150%;
  font-weight: 300;
}
.main-content {
  display: flex;
  flex-direction: column;
  padding: 24vh 0 24vh 0;
  width: 67%;
  margin-left: 17%;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forward;
}
.row {
  margin: 0 0 8em 0;
}
.list-header_row {
  display: inline-flex;
  list-style-type: none;
  padding: 0;
}
.list-header_row li a {
  margin: 0;
  font-size: 14pt;
  font-family: 'Roboto', sans-serif;
  line-height: 150%;
  font-weight: 300;
  color: #434145;
  margin: 0 0 16px 0;
  color: #A338F8;
  text-decoration: none;
  font-weight: 400;
}
.list-header_row li a:hover {
  text-decoration: underline;
}
.list-header_row li a:hover {
  background-color: #FFFFFF;
}
.bullet-point {
  padding: 0 10px 0 10px;
  font-size: 20pt;
  color: #434145;
}
.list-misc_projects li {
  display: flex;
  flex-direction: column;
}
.list-misc_projects li a {
  margin-bottom: 0;
}
.grid-columns_3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
}
.grid-columns_3 a {
  background-color: #F9F9F9;
  border-radius: 2px;
}
.grid-columns_3 a div {
  display: flex;
  flex-direction: column;
}
.grid-columns_3 a div img {
  max-width: 100%;
  max-height: 250px;
  position: relative;
  border-radius: 1.8px;
}
.grid-columns_3 a div h3 {
  color: #434145;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}
.grid-columns_3 a div p {
  color: #434145;
  margin: 0;
}
.grid-columns_3 a:hover h3 {
  color: #A338F8;
}
.grid-columns_3 a:hover p {
  color: #7500D0;
}
.grid-columns_3 a:hover {
  text-decoration: none;
}
#row-header {
  margin-bottom: 28vh;
}
#row-header div h1 span {
  display: inline-flex;
  align-items: center;
}
#row-header div h1 span img {
  margin-left: 4em;
  max-height: 54px;
  display: none;
}
#row-header div p {
  width: 67%;
}
#row-projects {
  width: 120%;
}
#row-misc_projects ul li {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 1.5em;
}
#row-misc_projects ul li a {
  color: #A338F8;
}
#row-misc_projects ul li:not(first-child) {
  padding-top: 1.5em;
}
/*--Importantants--*/
#menu > li > a {
  text-decoration: none;
  color: #282828;
}
footer {
  position: relative;
}
/*--Keyframes--*/
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
