/* @<name>*/
/* - - - - COLORS & EFFECTS - - - - -  */
/* - - - - FONTS - - - - - - */
.font-heading_text-h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 2em;
  background-color: #3C3452;
  background-size: 100%;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 1px;
  margin: 0 0 24px;
}
.font-heading_text-h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12pt;
  text-align: left;
  color: #8E8E8E;
  border-bottom: 1px solid #C8C8C8;
  line-height: 0.1em;
  margin: 0 0 2em 0;
}
.font-heading_text-h2 span {
  background: #FFFFFF;
  padding: 0 24px 0 0px;
}
.font-heading_text-h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin: 8px 0 8px 0;
  text-align: left;
  line-height: 140%;
  color: #3C3452;
}
.font-body_text-p {
  margin: 0;
  font-size: 14pt;
  font-family: 'Roboto', sans-serif;
  line-height: 150%;
  font-weight: 300;
  color: #3C3452;
  margin: 0 0 16px 0;
}
.font-subtitle {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  text-align: left;
  line-height: 140%;
  color: #3C3452;
  margin: 24px 0 8px 0;
}
.font-hyperlink_text {
  margin: 0;
  font-size: 14pt;
  font-family: 'Roboto', sans-serif;
  line-height: 150%;
  color: #3C3452;
  margin: 0 0 16px 0;
  color: #B41AB7;
  text-decoration: none;
  font-weight: 300;
  font-size: 12.5pt;
}
.font-hyperlink_text:hover {
  text-decoration: underline;
  color: #7558C8;
}
.font-caption {
  color: rgba(111, 0, 255, 0.7);
  font-family: 'Roboto', sans-serif;
  line-height: 200%;
}
/* - - - -CONTAINERS - - - - - */
.container-screen_content-67 {
  display: flex;
  flex-direction: column;
  padding: 24vh 0 24vh 0;
  width: 67%;
  margin: auto;
}
.container-body-100 {
  margin: 0 auto;
  background: #FFFFFF;
  z-index: 0;
  min-height: 100%;
}
/* - - - - Misc  - - - -  -*/
html {
  background: #F9F9F9;
}
body {
  margin: 0 auto;
  background: #FFFFFF;
  z-index: 0;
  min-height: 100%;
  font-size: 16pt;
}
h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 2em;
  background-color: #3C3452;
  background-size: 100%;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 1px;
  margin: 0 0 24px;
}
h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12pt;
  text-align: left;
  color: #8E8E8E;
  border-bottom: 1px solid #C8C8C8;
  line-height: 0.1em;
  margin: 0 0 2em 0;
}
h2 span {
  background: #FFFFFF;
  padding: 0 24px 0 0px;
}
h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin: 8px 0 8px 0;
  text-align: left;
  line-height: 140%;
  color: #3C3452;
}
h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  text-align: left;
  line-height: 140%;
  color: #3C3452;
  margin: 24px 0 8px 0;
}
p {
  margin: 0;
  font-size: 14pt;
  font-family: 'Roboto', sans-serif;
  line-height: 150%;
  font-weight: 300;
  color: #3C3452;
  margin: 0 0 16px 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
a {
  margin: 0;
  font-size: 14pt;
  font-family: 'Roboto', sans-serif;
  line-height: 150%;
  color: #3C3452;
  margin: 0 0 16px 0;
  color: #B41AB7;
  text-decoration: none;
  font-weight: 300;
  font-size: 12.5pt;
}
a:hover {
  text-decoration: underline;
  color: #7558C8;
}
sub {
  color: rgba(111, 0, 255, 0.7);
  font-family: 'Roboto', sans-serif;
  line-height: 200%;
}
.main-content {
  display: flex;
  flex-direction: column;
  padding: 24vh 0 24vh 0;
  width: 67%;
  margin: auto;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forward;
}
.row {
  margin: 0 0 4em 0;
}
.list-header_row {
  display: inline-flex;
  list-style-type: none;
  padding: 0;
}
.bullet-point {
  padding: 0 10px 0 10px;
  font-size: 20pt;
  color: #524C66;
}
.list-misc_projects li {
  display: flex;
  flex-direction: column;
}
.list-misc_projects li a {
  margin-bottom: 0;
}
.grid-columns_3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
}
.grid-columns_3 a {
  background-color: #F9F9F9;
  border: 1px solid #D3D3D3;
  border-radius: 2px;
}
.grid-columns_3 a div {
  display: flex;
  flex-direction: column;
}
.grid-columns_3 a div img {
  max-width: 100%;
  opacity: 0.7;
  position: relative;
}
.grid-columns_3 a div h3 {
  color: #524C66;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
.grid-columns_3 a div p {
  color: #524C66;
  margin: 0;
}
.grid-columns_3 a:hover {
  background-color: #FFFFFF;
}
.grid-columns_3 a:hover img {
  opacity: 1;
}
.grid-columns_3 a:hover h3 {
  color: #7558C8;
}
.grid-columns_3 a:hover p {
  color: #B41AB7;
}
.grid-columns_3 a:hover {
  text-decoration: none;
}
#row-header {
  display: grid;
  grid-template-columns: 0.3fr 0.7fr;
  grid-gap: 4em;
}
#row-header div img {
  width: 100%;
  border-radius: 300%;
}
#row-header div h1 span {
  display: inline-flex;
  align-items: center;
}
#row-header div h1 span img {
  max-height: 54px;
  display: none;
}
#row-header div a {
  color: #7558C8;
  font-weight: 400;
}
#row-header div a:hover {
  color: #B41AB7;
}
#row-misc_projects ul li {
  border-bottom: 1px solid #fefefe;
  padding-bottom: 1.5em;
}
#row-misc_projects ul li a {
  color: #524C66;
}
#row-misc_projects ul li a:hover {
  color: #7558C8;
}
/*--Importantants--*/
#menu > li > a {
  text-decoration: none;
  color: #3C3452;
}
#visible-while-mobile--h1 {
  display: none;
}
#visible-while-mobile--ul {
  display: none;
}
footer {
  position: relative;
}
/*--Keyframes--*/
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
