/* @<name>*/
/* - - - - COLORS & EFFECTS - - - - -  */
/* - - - - FONTS - - - - - - */
.font-heading_text-h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 28pt;
  background-color: #565F6D;
  background-size: 100%;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 1px;
  margin: 0 0 16px;
  line-height: 160%;
}
.font-heading_text-h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 24pt;
  text-align: left;
  color: #565F6D;
  border-bottom: 1px solid #565F6D;
  line-height: 0.1em;
  margin: 0 0 2em 0;
}
.font-heading_text-h2 span {
  background: #FCFCFC;
  padding: 0 12px 0 0px;
}
.font-heading_text-h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18pt;
  text-align: left;
  color: #565F6D;
  border-bottom: 1px solid #565F6D;
  line-height: 0.1em;
  margin: 0 0 2em 0;
}
.font-heading_text-h3 span {
  background: #FCFCFC;
  padding: 0 12px 0 0px;
}
.font-heading_text-h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14.5pt;
  line-height: 140%;
  color: #565F6D;
  border-bottom: 1px solid #C4C4C4;
  line-height: 0.1em;
  margin: 0 0 2em 0;
}
.font-heading_text-h4 span {
  background: #FCFCFC;
  padding: 0 12px 0 0px;
}
.font-heading_text-h4-alt {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14.5pt;
  line-height: 180%;
  color: #565F6D;
  margin: 0;
  border-bottom: none;
}
.font-body_text-p {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-size: 11.5pt;
  line-height: 160%;
  letter-spacing: 0.5px;
  font-weight: 300;
  color: #565F6D;
  margin: 0 0 16px 0;
}
.font-subtitle {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  text-align: left;
  line-height: 140%;
  color: #292F37;
  margin: 24px 0 8px 0;
}
.font-hyperlink_text {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-size: 11.5pt;
  line-height: 160%;
  letter-spacing: 0.5px;
  color: #565F6D;
  margin: 0 0 16px 0;
  color: #292F37;
  text-decoration: none;
  font-weight: 300;
  font-size: 12.5pt;
}
.font-hyperlink_text:hover {
  text-decoration: underline;
  color: #E93661;
}
.font-hyperlink_in-text {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-size: 11.5pt;
  line-height: 160%;
  letter-spacing: 0.5px;
  color: #565F6D;
  margin: 0 0 16px 0;
  color: #E93661;
  text-decoration: none;
  font-weight: 300;
  font-size: 14pt;
}
.font-hyperlink_in-text:hover {
  text-decoration: underline;
  color: #E93661;
}
.font-caption {
  color: #565F6D;
  font-family: 'Roboto', sans-serif;
  line-height: 140%;
  font-weight: 300;
}
.font-italic {
  font-style: italic;
  font-size: 12.5pt;
}
.font-bold {
  font-weight: 400;
  color: #E93661;
}
.highlight {
  font-weight: 400;
  color: #565F6D;
}
/* - - - -CONTAINERS - - - - - */
.container-screen_content-67 {
  display: flex;
  flex-direction: column;
  padding: 32vh 0 12vh 0;
  width: 67%;
  margin: auto;
}
.container-body-100 {
  margin: 0 auto;
  background: #FCFCFC;
  z-index: 0;
  min-height: 100%;
}
/* - - - - Misc  - - - -  -*/
html {
  background: #FCFCFC;
}
body {
  margin: 0 auto;
  background: #FCFCFC;
  z-index: 0;
  min-height: 100%;
  font-size: 16pt;
}
h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 28pt;
  background-color: #565F6D;
  background-size: 100%;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 1px;
  margin: 0 0 16px;
  line-height: 160%;
}
h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 24pt;
  text-align: left;
  color: #565F6D;
  border-bottom: 1px solid #565F6D;
  line-height: 0.1em;
  margin: 0 0 2em 0;
}
h2 span {
  background: #FCFCFC;
  padding: 0 12px 0 0px;
}
h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18pt;
  text-align: left;
  color: #565F6D;
  border-bottom: 1px solid #565F6D;
  line-height: 0.1em;
  margin: 0 0 2em 0;
}
h3 span {
  background: #FCFCFC;
  padding: 0 12px 0 0px;
}
h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14.5pt;
  line-height: 140%;
  color: #565F6D;
  border-bottom: 1px solid #C4C4C4;
  line-height: 0.1em;
  margin: 0 0 2em 0;
}
h4 span {
  background: #FCFCFC;
  padding: 0 12px 0 0px;
}
p {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-size: 11.5pt;
  line-height: 160%;
  letter-spacing: 0.5px;
  font-weight: 300;
  color: #565F6D;
  margin: 0 0 16px 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
a {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-size: 11.5pt;
  line-height: 160%;
  letter-spacing: 0.5px;
  color: #565F6D;
  margin: 0 0 16px 0;
  color: #292F37;
  text-decoration: none;
  font-weight: 300;
  font-size: 12.5pt;
}
a:hover {
  text-decoration: underline;
  color: #E93661;
}
sub {
  color: #565F6D;
  font-family: 'Roboto', sans-serif;
  line-height: 140%;
  font-weight: 300;
}
.main-content {
  display: flex;
  flex-direction: column;
  padding: 32vh 0 12vh 0;
  width: 67%;
  margin: auto;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forward;
}
.row {
  margin: 0 0 4em 0;
}
.list-header_row {
  display: inline-flex;
  list-style-type: none;
  padding: 0;
}
.bullet-point {
  padding: 0 10px 0 10px;
  font-size: 14pt;
  color: #565F6D;
}
.list-misc_projects li {
  display: flex;
  flex-direction: column;
}
.list-misc_projects li a {
  margin-bottom: 0;
}
.grid-columns_3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.5em;
}
.grid-columns_3 a {
  background-color: #FCFCFC;
}
.grid-columns_3 a div {
  display: flex;
  flex-direction: column;
}
.grid-columns_3 a div img {
  max-width: 100%;
  opacity: 0.95;
  position: relative;
}
.grid-columns_3 a div span {
  color: #565F6D;
  text-align: left;
  font-size: 12pt;
}
.grid-columns_3 a div p {
  font-size: 12pt;
  margin-top: 4px;
  text-align: left;
}
.grid-columns_3 a div h4 {
  font-weight: 300;
  text-align: center;
}
.grid-columns_3 a:hover {
  background-color: #FCFCFC;
}
.grid-columns_3 a:hover img {
  opacity: 1;
}
.grid-columns_3 a:hover span {
  color: #E93661;
}
.grid-columns_3 a:hover h4 {
  color: #E93661;
}
.grid-columns_3 a:hover p {
  color: #E93661;
}
.grid-columns_3 a:hover {
  text-decoration: none;
}
#row-header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 4em;
  width: 100%;
}
#row-header div img {
  width: 80%;
  opacity: 1;
}
#row-header div img:hover {
  opacity: 1;
}
#row-header div h1 span {
  display: inline-flex;
  align-items: center;
}
#row-header div h1 span img {
  max-height: 54px;
  display: none;
}
#row-header div p {
  width: 100%;
}
#row-header div a {
  color: #E93661;
  font-weight: 400;
}
#row-header div .bullet-point {
  color: #292F37;
}
#row-personal div .row-personal-row a {
  font-size: 14.5pt;
  font-weight: 400;
  color: #0047FF;
}
#row-personal div .row-personal-row a:hover {
  color: #E93661;
  text-decoration: none;
}
#row-personal div .row-personal-row span {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-size: 11.5pt;
  line-height: 160%;
  letter-spacing: 0.5px;
  font-weight: 300;
  color: #565F6D;
  margin: 0 0 16px 0;
}
#row-prototyping_projects h4 {
  text-align: right;
}
#row-prototyping_projects h4 span {
  padding: 0 0 0 12px;
}
/*--Importantants--*/
#menu > li > a {
  text-decoration: none;
  color: #292F37;
}
#visible-while-mobile_h1 {
  display: none;
}
#visible-while-mobile_button-list {
  display: none;
}
#visible-while-mobile_button-list li:nth-child(2) {
  margin-left: 1em;
}
#hidden-while-mobile_button-list li:nth-child(2) {
  margin-left: 1em;
}
footer {
  position: relative;
}
/*--Keyframes--*/
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
