nav{
  display:grid;
  grid-template-columns:.3fr .7fr;
  width:100%;
  margin:auto;
  padding:15px 0 15px 0;
  background-color:#fff;
  border-bottom:1px solid rgb(148,149,153,.5);
  top:0;
  position:fixed;
  z-index:1;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  align-items:center;
}

nav > a{

}

label{
  margin:auto;
  text-align:center;
  display:none;
}
#logo{
  height:32px;
  margin-left:8vw;
}

#toggle{
  display:none;
}

#menu{
  float: right;
  margin-right:8vw;
  margin-top:7.5px;
}

#menu > a{
  color:#3a3a3a;
  opacity:.7;
}

#menu > a:hover{
  opacity:1;
}


#anchor-index{
  padding:0 2em 0 0;
}

#anchor-about{
  padding:0 2em 0 0;
}

#anchor-portfolio{
  padding:0 2em 0 0;
}

#anchor-contact{
  padding:0 0 0 0em;
}
