nav{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  padding:12px 0 12px 0;
  background-color:#F9F9F9;
  width:100%;
  box-shadow: #CACACA 0px 1px 0px;
  top:0;
  font-size:16pt;
  position:fixed;
  z-index:1;
  align-items:center;
}

nav > a{
  MARGIN-BOTTOM:0;
}

label{
  margin:auto;
  text-align:center;
  display:none;
}
#logo{
  height:40px;
  margin-left:16.5vw;
}

#toggle{
  display:none;
}

#menu{
  display:inline-flex;
  margin:0;
  /* margin-right:3vw; */
  margin-right:16.5vw;
  list-style-type:none;
}
#menu > li:nth-child(1){
  margin-right:2em;
}
#menu > li:nth-child(3){
  margin-left:2em;
}

#menu > li > a{
  color:#3C3452;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}

#menu > li > a:hover{
  color:#524C66;
  text-decoration:underline;
}


#anchor-index{

}

#anchor-about{

}

#anchor-contact{

}
