/* @<name>*/
/* - - - - COLORS & EFFECTS - - - - -  */
/* - - - - FONTS - - - - - - */
.font-heading_text-h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 28pt;
  background-color: #565F6D;
  background-size: 100%;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0.4px;
  margin: 0 0 16px;
  line-height: 160%;
}
.font-heading_text-h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 22pt;
  text-align: left;
  color: #565F6D;
  border-bottom: 1px solid lightgrey;
  line-height: 0.1em;
  margin: 0 0 2em 0;
}
.font-heading_text-h2 span {
  background: #FCFCFC;
  padding: 0 0.5em 0 0px;
}
.font-heading_text-h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18pt;
  text-align: left;
  color: #565F6D;
  border-bottom: 1px solid lightgrey;
  line-height: 0.1em;
  margin: 0 0 2em 0;
}
.font-heading_text-h3 span {
  background: #FCFCFC;
  padding: 0 12px 0 0px;
}
.font-heading_text-h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14.5pt;
  line-height: 140%;
  color: #565F6D;
  border-bottom: 1px solid #C4C4C4;
  line-height: 0.1em;
  margin: 0 0 24px 0;
}
.font-heading_text-h4 span {
  background: #FCFCFC;
  padding: 0 12px 0 0px;
}
.font-heading_text-h4-alt {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14.5pt;
  line-height: 165%;
  color: #565F6D;
  margin: 0 0 12px 0;
  border-bottom: none;
}
.font-body_text-p {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-size: 11.5pt;
  line-height: 165%;
  letter-spacing: 0.5px;
  font-weight: 300;
  color: #565F6D;
  margin: 0 0 12px 0;
}
.font-subtitle {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  text-align: left;
  line-height: 140%;
  color: #292F37;
  margin: 24px 0 8px 0;
}
.font-hyperlink_text {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-size: 11.5pt;
  line-height: 165%;
  letter-spacing: 0.5px;
  color: #565F6D;
  margin: 0 0 12px 0;
  color: #292F37;
  text-decoration: none;
  font-weight: 300;
  font-size: 12.5pt;
}
.font-hyperlink_text:hover {
  text-decoration: underline;
  color: #E93661;
}
.font-hyperlink_in-text {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-size: 11.5pt;
  line-height: 165%;
  letter-spacing: 0.5px;
  color: #565F6D;
  margin: 0 0 12px 0;
  color: #E93661;
  text-decoration: none;
  font-weight: 300;
  font-size: 14pt;
}
.font-hyperlink_in-text:hover {
  text-decoration: underline;
  color: #E93661;
}
.font-caption {
  color: #565F6D;
  font-family: 'Roboto', sans-serif;
  line-height: 140%;
  font-weight: 300;
}
.font-italic {
  font-style: italic;
  font-size: 12.5pt;
}
.font-bold {
  font-weight: 400;
}
.highlight {
  font-weight: 400;
  color: #565F6D;
}
.button-CTA {
  border: 2px solid #565F6D;
  border-radius: 4px;
  color: #565F6D;
  background: #FFF;
}
.button-CTA:hover {
  color: #FFF;
  background-color: #2E69FF;
  border: 2px solid #2E69FF;
}
.button-CTA span {
  font-weight: 500;
  letter-spacing: 0.33;
  font-size: 10.5pt;
}
/* - - - -CONTAINERS - - - - - */
.container-screen_content-67 {
  display: flex;
  flex-direction: column;
  padding: 28vh 0 12vh 0;
  width: 67%;
  margin: auto;
}
.container-body-100 {
  margin: 0 auto;
  background: #FCFCFC;
  z-index: 0;
  min-height: 100%;
}
/* - - - - Misc  - - - -  -*/
html {
  background: #FCFCFC;
}
body {
  margin: 0 auto;
  background: #FCFCFC;
  z-index: 0;
  min-height: 100%;
  font-size: 16pt;
}
h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 28pt;
  background-color: #565F6D;
  background-size: 100%;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0.4px;
  margin: 0 0 16px;
  line-height: 160%;
}
h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 22pt;
  text-align: left;
  color: #565F6D;
  border-bottom: 1px solid lightgrey;
  line-height: 0.1em;
  margin: 0 0 2em 0;
}
h2 span {
  background: #FCFCFC;
  padding: 0 0.5em 0 0px;
}
h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18pt;
  text-align: left;
  color: #565F6D;
  border-bottom: 1px solid lightgrey;
  line-height: 0.1em;
  margin: 0 0 2em 0;
}
h3 span {
  background: #FCFCFC;
  padding: 0 12px 0 0px;
}
h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14.5pt;
  line-height: 140%;
  color: #565F6D;
  border-bottom: 1px solid #C4C4C4;
  line-height: 0.1em;
  margin: 0 0 24px 0;
}
h4 span {
  background: #FCFCFC;
  padding: 0 12px 0 0px;
}
p {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-size: 11.5pt;
  line-height: 165%;
  letter-spacing: 0.5px;
  font-weight: 300;
  color: #565F6D;
  margin: 0 0 12px 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
a {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-size: 11.5pt;
  line-height: 165%;
  letter-spacing: 0.5px;
  color: #565F6D;
  margin: 0 0 12px 0;
  color: #292F37;
  text-decoration: none;
  font-weight: 300;
  font-size: 12.5pt;
}
a:hover {
  text-decoration: underline;
  color: #E93661;
}
sub {
  color: #565F6D;
  font-family: 'Roboto', sans-serif;
  line-height: 140%;
  font-weight: 300;
}
.main-content {
  display: flex;
  flex-direction: column;
  padding: 28vh 0 12vh 0;
  width: 67%;
  margin: auto;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forward;
}
.row {
  margin: 0 0 4em 0;
}
.list-header_row {
  display: inline-flex;
  list-style-type: none;
  padding: 0;
}
.bullet-point {
  padding: 0 10px 0 10px;
  font-size: 14pt;
  color: #565F6D;
}
.list-misc_projects li {
  display: flex;
  flex-direction: column;
}
.list-misc_projects li a {
  margin-bottom: 0;
}
.row-33_67-primary {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.row-67_33-primary {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
#row-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 0 2em 0;
}
#row-header div img {
  width: 100%;
  opacity: 1;
  height: 50px;
  padding: 0 1em 0 0;
}
#row-header div img:hover {
  opacity: 1;
}
#row-header div h1 span {
  display: inline-flex;
  align-items: center;
}
#row-header div h1 span img {
  max-height: 54px;
  display: none;
}
#row-header div p {
  width: 100%;
}
#row-header div a {
  color: #E93661;
  font-weight: 400;
}
#row-case_studies .row-33_67-primary {
  grid-gap: 2em;
  padding-bottom: 2em;
}
#row-case_studies .row-33_67-primary div a img {
  border-radius: 4px;
  max-width: 100%;
  min-width: 100%;
  border: 2px solid lightgrey;
}
#row-case_studies .row-33_67-primary div a img:hover {
  border: 2px solid #0047FF;
}
#row-case_studies .row-33_67-primary #row-case_studies-column-right h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14.5pt;
  line-height: 165%;
  color: #565F6D;
  margin: 0 0 12px 0;
  border-bottom: none;
  letter-spacing: 0.6px;
  font-weight: 400;
}
#row-case_studies .row-33_67-primary #row-case_studies-column-right p {
  width: 100%;
}
#row-case_studies .row-33_67-primary #row-case_studies-column-right ul {
  margin: 0 0 16px 0;
}
#row-case_studies .row-33_67-primary #row-case_studies-column-right ul li {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-size: 11.5pt;
  line-height: 165%;
  letter-spacing: 0.5px;
  font-weight: 300;
  color: #565F6D;
  margin: 0 0 12px 0;
  font-weight: 400;
}
#row-ui_design .row-33_67-primary {
  grid-gap: 2em;
  padding-bottom: 2em;
}
#row-ui_design .row-33_67-primary div a img {
  max-width: 100%;
  min-width: 100%;
  border: 2px solid lightgrey;
  border-radius: 4px;
}
#row-ui_design .row-33_67-primary div a img:hover {
  border: 2px solid #0047FF;
}
#row-ui_design .row-33_67-primary #row-ui_design-column-right h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14.5pt;
  line-height: 165%;
  color: #565F6D;
  margin: 0 0 12px 0;
  border-bottom: none;
  letter-spacing: 0.6px;
  font-weight: 400;
}
#row-ui_design .row-33_67-primary #row-ui_design-column-right div a img {
  max-width: 100%;
  min-width: 100%;
  border: 2px solid lightgrey;
  border-radius: 4px;
}
#row-ui_design .row-33_67-primary #row-ui_design-column-right div a img:hover {
  border: 2px solid #0047FF;
}
#row-ui_design .row-33_67-primary #row-ui_design-column-right p {
  width: 100%;
}
#row-ui_design .row-33_67-primary #row-ui_design-column-right ul {
  margin: 0 0 16px 0;
}
#row-ui_design .row-33_67-primary #row-ui_design-column-right ul li {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-size: 11.5pt;
  line-height: 165%;
  letter-spacing: 0.5px;
  font-weight: 300;
  color: #565F6D;
  margin: 0 0 12px 0;
  font-weight: 400;
}
/*--Importantants--*/
#menu > li > a {
  text-decoration: none;
  color: #292F37;
}
#visible-while-mobile_h1 {
  display: none;
}
footer {
  position: relative;
}
/*--Keyframes--*/
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
