/* @<name>*/
/* - - - - COLORS & EFFECTS - - - - -  */
/* - - - - FONTS - - - - - - */
.font-heading_text-h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 2.6em;
  background-color: #6F00FF;
  background-size: 100%;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 1px;
}
.font-heading_text-h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.4em;
  text-align: left;
  line-height: 160%;
  color: #6F00FF;
  background-color: #FFFFFF;
  border-bottom: 2px solid #6F00FF;
  line-height: 0.1em;
}
.font-heading_text-h2 span {
  background: #FFFFFF;
  padding: 0 24px 0 0px;
}
.font-heading_text-h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  font-weight: 700;
  margin: 2em 0 2em 1em;
  text-align: left;
  line-height: 180%;
  color: #7963A3;
}
.font-body_text-p {
  margin: 0;
  font-size: 14.5pt;
  font-family: 'Roboto', sans-serif;
  line-height: 150%;
  font-weight: 300;
  color: #33137A;
  margin: 0 0 16px 0;
}
.font-subtitle {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  text-align: left;
  line-height: 140%;
  color: #7963A3;
  margin: 24px 0 8px 0;
}
.font-hyperlink_text {
  margin: 0;
  font-size: 14.5pt;
  font-family: 'Roboto', sans-serif;
  line-height: 150%;
  font-weight: 300;
  color: #33137A;
  margin: 0 0 16px 0;
  color: #FF4D00;
  text-decoration: none;
  font-weight: 400;
  font-size: 15pt;
}
.font-hyperlink_text:hover {
  text-decoration: underline;
}
.font-caption {
  color: #7963A3;
  font-family: 'Roboto', sans-serif;
  font-size: 12.5pt;
  line-height: 150%;
  font-weight: 300;
}
/* - - - -CONTAINERS - - - - - */
.container-screen_content-50 {
  display: flex;
  flex-direction: column;
  padding: 24vh 0 24vh 0;
  width: 50%;
  margin-left: 17%;
}
.container-body-100 {
  margin: 0 auto;
  background: #FFFFFF;
  z-index: 0;
  min-height: 100%;
}
/* - - - - Misc  - - - -  -*/
html {
  background: #6F00FF;
}
body {
  margin: 0 auto;
  background: #FFFFFF;
  z-index: 0;
  min-height: 100%;
  font-size: 16pt;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 2.6em;
  background-color: #6F00FF;
  background-size: 100%;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 1px;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.4em;
  text-align: left;
  line-height: 160%;
  color: #6F00FF;
  background-color: #FFFFFF;
  border-bottom: 2px solid #6F00FF;
  line-height: 0.1em;
}
h2 span {
  background: #FFFFFF;
  padding: 0 24px 0 0px;
}
h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  font-weight: 700;
  margin: 2em 0 2em 1em;
  text-align: left;
  line-height: 180%;
  color: #7963A3;
}
h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  text-align: left;
  line-height: 140%;
  color: #7963A3;
  margin: 24px 0 8px 0;
}
p {
  margin: 0;
  font-size: 14.5pt;
  font-family: 'Roboto', sans-serif;
  line-height: 150%;
  font-weight: 300;
  color: #33137A;
  margin: 0 0 16px 0;
}
ul {
  list-style-type: none;
  margin: 0;
  font-size: 14.5pt;
  font-family: 'Roboto', sans-serif;
  line-height: 150%;
  font-weight: 300;
  color: #33137A;
  margin: 0 0 16px 0;
}
a {
  margin: 0;
  font-size: 14.5pt;
  font-family: 'Roboto', sans-serif;
  line-height: 150%;
  font-weight: 300;
  color: #33137A;
  margin: 0 0 16px 0;
  color: #FF4D00;
  text-decoration: none;
  font-weight: 400;
  font-size: 15pt;
}
a:hover {
  text-decoration: underline;
}
sub {
  color: #7963A3;
  font-family: 'Roboto', sans-serif;
  font-size: 12.5pt;
  line-height: 150%;
  font-weight: 300;
}
.main-content {
  display: flex;
  flex-direction: column;
  padding: 24vh 0 24vh 0;
  width: 50%;
  margin-left: 17%;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forward;
}
.row {
  margin: 0 0 0.5em 0;
}
.list-columns {
  display: flex;
  flex-direction: row;
  gap: 5em;
}
.image {
  margin-top: 2em;
  width: 100%;
}
.image-100-image {
  width: 92%;
  box-shadow: rgba(50, 50, 93, 0.2) 0px 6px 12px -2px, rgba(0, 0, 0, 0.2) 0px -1px 6px -2px;
  transition: 0.3s;
  border: 1px solid #e0e0e0;
  margin: auto;
}
.image-67-image {
  max-width: 67%;
  box-shadow: rgba(60, 64, 67, 0.4) 0px 1.5px 3px 0px, rgba(60, 64, 67, 0.2) 0px -0.5px 3px 1px;
  transition: 0.5s;
}
.image-subscript {
  color: #7963A3;
  font-family: 'Roboto', sans-serif;
  font-size: 12.5pt;
  line-height: 150%;
  font-weight: 300;
  display: block;
  text-align: center;
  width: 90%;
}
.image-anchor {
  max-width: 100%;
}
#row-header p {
  margin-top: 2em;
}
#row-header ul li {
  line-height: 300%;
  list-style-type: disc;
}
#row-header #header-tag {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
}
#row-header #header-tag #image-tag {
  height: 48px;
}
#row-header #header-tag .list-header_row {
  margin: 0 0 0 1em;
  padding: 0;
  color: #7963A3;
  font-family: 'Roboto', sans-serif;
  font-size: 12.5pt;
  line-height: 150%;
  font-weight: 300;
  color: #33137A;
}
#row-header #header-tag .list-header_row li {
  line-height: 150%;
  list-style-type: none;
}
#row-header #header-tag .list-header_row li:not(:first-child) {
  color: #7963A3;
}
#row-listen_to_your_corner p {
  margin-top: 2em;
}
#row-be_adaptable p {
  margin-top: 2em;
}
#row-check_the_ego p {
  margin-top: 2em;
}
#row-focus_on_you p {
  margin-top: 2em;
}
#row-conclusion p {
  margin-top: 2em;
}
/*--Importantants--*/
#menu > li > a {
  text-decoration: none;
  color: #33137A;
}
footer {
  position: relative;
}
/*--Keyframes--*/
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
