

@media (min-width:1281px) {
  h1{

  }
}


@media (max-width:1025px){


  .btn-list{
    margin-left:0;
  }

  button{
    letter-spacing:1px;
    border-radius:1px;
  }
}


@media (max-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
  h1{
    font-size:44pt;
  }

  h2{
    font-size:32;
  }

  h3{
    font-size: 20pt;
  }

  p{
    font-size:16pt;
    text-align:center
  }
  .btn-list{
    margin-left:0;

  }

  .btn-list > li:nth-child(1){

  }

  .btn-list > li:nth-child(2){
  }

  .btn-list{

  }

  .btn-list > li:nth-child(1){

  }

  .btn-list > li:nth-child(2){

  }

  .column-a{
    width:50%;
  }

  .column-b{
    width:50%;

  }
}



@media (max-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  body{
    height:auto;
  }


  h1{
    font-size: 36pt;
    font-weight: 300;
    margin-left: 8vw;
  }

  h2{
    font-size:20pt;
    margin:0 0 36px 0;
    font-weight:300;
    margin-left:8vw;
  }

  h3{
    font-size: 18pt;
    margin-bottom:24px;
    font-weight:500;
  }

  p{
    font-size:16pt;
    text-align:center
  }

  footer{
   position:relative !important;
  }

  .main-content{
    width:100%;
  }

  .project-description-list{
    font-size:16pt;
    line-height:160%;
  }

  .project-section{
    width:84%;
    margin:auto;
  }

/*-- Buttons --*/

  button{
    width:84vw;
    font-size:14px;
    letter-spacing:.6px;
    border-radius:1px;
    font-weight:500;
  }

  .btn-list > li:nth-child(1){
    margin-right:0px;
  }
  .btn-list > li:nth-child(2){
    margin-top:2em;
    margin-left:0;
  }
  .btn-list > li:nth-child(3){
    margin-top:2em;
    margin-left:0;
  }

  .btn-list{
    flex-direction: column;
    float:none;
    margin-top:2em;
  }

  .btn-text{
    text-align: center;
  }

  .button-icons{
    height:20px;
    margin-left:30%;
    padding-right:16px;
  }

  .project-section{
    display:flex;
    flex-direction:column;
    margin:auto;
  }

  .row-a{
  }

  .row-b{
    flex-direction:column;
  }

  .row-b-column-left{
    width:100%;
  }

  .row-b-column-left > p{
    padding:0px 0px 0px 0px;
    text-align: left;
    margin-top:0;
  }

  .row-b-column-right{
    width:100%;
  }

  .row-b-image{
    display:none;
  }
  .row-b-image-ghost{
    visibility:visible;
    width:100%;
    height:44vh;
    box-shadow:none;
  }
}

@media (max-width:520px)  { /* smartphones, Android phones, landscape iPhone */

}



@media (max-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  body{
    height:none;
  }

  h1{
    font-size:28pt;
  }
}
