
@media only screen  and (min-width : 1824px) {
  .main-content{
    width:50%;
  }
}

@media only screen and (max-width:1281px) { /* big landscape tablets, laptops, and desktops */
  .main-content{
    width:67%;
  }
}


@media (max-width:1025px){

  footer{
    position:relative;
  }

  .main-content{

  }

  .column-b{
    width:100%;
    flex-direction:column-reverse;
  }

  .image--column-b{
    width:100%;
    border-radius: 2px;
    opacity:1;
    float:right;
    border:1px solid rgb(148,149,153,.8);
    margin:0 0 24px 0;
  }
}


@media (max-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
  .project-section{
    flex-direction: column;
  }
  .project-link-list{
    margin:0 0 16px 0;
  }
  .column-a{
    width:100%;
    padding:0;
  }
}



@media (max-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .main-content{
    width:90%;
  }
  .project-section{
    padding:16px;
  }
}

@media (max-width:520px)  { /* smartphones, Android phones, landscape iPhone */
  body{

  }

  h1{
    font-size:24pt;
  }

  h2{
    font-size:20pt;
  }

  h3{
    font-size: 16pt;
  }

  p{

  }

  ul{

  }

  footer{
   position:relative !important;
  }

  .column-b{
    display:flex;
    flex-direction: column-reverse;
  }
  .main-content{
    width:90%;
    margin-bottom:2em;

  }
  .image--column-b{
    width:100%;
    border-radius:2px;
    float:left;
    border:1px solid rgb(148,149,153,.8);
    margin:0 0 24px 0;
  }
  .project-link-list{
    margin:0 0 16px 0;
  }
}



@media (max-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  body{
  }

  h1{
  }
}
