

@media (min-width:1281px) {

}


@media (max-width:1025px){

}


@media (max-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */

}



@media (max-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */

}

@media (max-width:520px)  { /* smartphones, Android phones, landscape iPhone */
  body{

  }

  h1{
    font-size:24pt;
  }

  h2{
    font-size:20pt;
  }

  h3{
    font-size: 16pt;
  }

  p{
    font-size:12pt;
  }

  ul{

  }

  footer{
   position:relative !important;
  }

  .main-content{
    width:90%;
    margin-bottom:2em;

  }

  .project-description-list{
  }


/*-- Buttons --*/

  /* button{
    width:84vw;
    font-size:13px;
    letter-spacing:.6px;
    border-radius:1px;
    font-weight:500;
  }

  .btn-list > li:nth-child(1){
    margin-right:0px;
  }
  .btn-list > li:nth-child(2){
    margin-top:1em;
    margin-left:0;
  }
  .btn-list > li:nth-child(3){
    margin-top:1em;
    margin-left:0;
  }

  .btn-list{
    flex-direction: column;
    float:none;
    margin-top:2em;
  }

  .btn-text{
    text-align: center;
  }

  .button-icons{
    height:20px;
    margin-left:30%;
    padding-right:16px;
  } */

  .project-section{
    display:flex;
    flex-direction:column;
    padding:16px;
  }

  .row-a{
  }

  .row-b{
    flex-direction:column;
  }

  .row-b-column-left{
    width:100%;
  }

  .row-b-column-left > p{
    padding:0px 0px 0px 0px;
    margin-top:0;
    text-align: left;
  }

  .row-b-column-right{
    width:100%;
  }

  .row-b-image{
  }
  .row-b-image-ghost{
    display:none;
    max-width:67%;
    box-shadow:none;
    border-radius: 2px;
    float:none;
    border:1px solid rgb(148,149,153,.8);
    margin-bottom:24px;
  }
}



@media (max-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  body{
  }

  h1{
  }
}
