body{
  margin:0 auto;
  background:#f8f8f8;
  z-index:0;
  min-width: 100%;
  color:#3a3a3a;
}

footer{
 position:relative;
}

h1{
  font-size:50pt;
  font-family: 'Raleway', sans-serif;
  font-weight:200;
  text-align:left;
  opacity:.6;
  margin:0 0 36px 0;
  z-index:1;
}

h2{
  font-size:38;
  font-family: 'Raleway', sans-serif;
  font-weight:300;
  text-align: left;
}

h3{
  font-family: 'Raleway', sans-serif;
  font-size: 18pt;
  font-weight:500;
  margin: 0 0 24px 0;
  text-align: left;
}

p{
  font-size:12pt;
  font-family: 'Roboto', sans-serif;
  font-weight:300;
  line-height:160%;
}
.main-content{
  display:flex;
  flex-direction:column;
  padding-top:16vh;
  margin:auto;
  width:84%;
  font-family: 'PT Sans', sans-serif;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.button-icons{
  height:16px;
  padding-right:8px;
}

.btn-list{
  display:inline-flex;
  list-style-type:none;
  float:left;
}

.btn-list > li:nth-child(1){
  margin-right:33px;
}


.btn-list > li:nth-child(3){
  margin-left:33px;
}

.btn-list > li > a{
  text-decoration:none;
  color:#fff;
  display:inline-flex;
}

.ctrt-content{
  border-radius:2px;
  border-bottom:1px black solid .7;
  margin-bottom:10em;
}

.category-section{
  display:flex;
  flex-direction: row;
  align-items: center;
}
.category-section-column-a{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.category-section-column-b{
  max-width:100%;
  height:1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.line{
  border-bottom:1px solid red;
  width:100%;
}

.project-anchors{
  color:#009BA5;
  text-decoration:none;;
}
.project-anchors:hover{
 color:#00C4D0;
}

.project-section{
  display:flex;
  flex-direction:column;
  border-bottom:1px solid lightgrey;
  padding: 0 0 24px 0;
}

.row-a{

}

.row-b{
  display:flex;
  flex-direction: row;
}

.row-b-column-left{
  width:67%;
}

.row-b-column-left > p{
  padding:0px 4em 0px 0px;
  text-align: left;
  margin-top:0;
  text-align: justify;
}

.row-b-column-right{
  width:33%;
}

.row-b-image{
  max-width:82%;
  border-radius: 2px;
  opacity:.8;
  float:right;
  box-shadow:0 4px 8px rgba(0,0,0,.2);
}
.row-b-image-ghost{
  max-width:100%;
  border-radius: 2px;
  opacity:.8;
  float:right;
  box-shadow:0 4px 16px rgba(0,0,0,.2);
  visibility:hidden;
  height:1px;
  width:1px;
}

/*--buttons--*/

.btn-list{
  display:inline-flex;
  list-style-type:none;
  float:left;
}

.btn-list > li:nth-child(1){

}

.btn-list > li:nth-child(2){
}

button{
  display:flex;
  padding:10px 16px 8px 16px;
  font-size:11px;
  text-transform:uppercase;
  letter-spacing:1px;
  border-radius:2px;
  background: #009BA5;
  transition: 0.5s;
  border:none;
  color:#fff;
  box-shadow: .25px .5px 2px #8F9094;
  font-family: 'Roboto', sans-serif;
  font-weight:00;
}

button:hover{
  background:#00C4D0;
  color:#fff;
  cursor: pointer;
  box-shadow: 0px 1px 6px #8F9094;
}

a{
  text-decoration:none;
  color:#fff;
  display:inline-flex;
}

.button-icons{
  height:16px;
  padding-right:8px;
}




/*--Keyframes--*/
@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}
