.button-CTA{
  background:#FFF;
  border:2px solid #FF4A6B;
  border-radius: 2px;
  padding:10px 16px 10px 16px;
  color:#FF4A6B;
}

.button-CTA > span{
  margin:auto;
  font-family: 'Roboto', sans-serif;
  font-size:12pt;
  font-weight:400;
  letter-spacing:.5px;
}

.button-CTA > span:hover{
  color:#fff;
}

.button-CTA:hover{
  cursor:pointer;
  border:2px solid #B23D53;
  background:#FF4A6B;
  color:#FFF;
}


animation: fadeInAnimation ease 1s;
animation-iteration-count: 1;
animation-fill-mode: forwards;
