button{
  display:flex;
  padding:10px 16px 8px 16px;
  font-size:12px;
  text-transform:uppercase;
  letter-spacing:.6px;
  border-radius:2px;
  background: #795BF0;
  border: 1px solid #644CC6;
  transition: 0.3s;
  color:#efefef;
  font-family: 'Roboto', sans-serif;
  font-weight:500;
}

button:hover{
  background: #9E86FC;
  border:1px solid #795BF0;
  cursor: pointer;
}

.btn-list{
  display:inline-flex;
  margin: auto;
  list-style-type:none;
}

.btn-list > li:nth-child(1){
  margin-right:24px;
}


.btn-list > li:nth-child(3){
  margin-left:24px;
}

.button-icons{
  height:16px;
  padding-right:8px;
}
