.button-CTA{
  background:#FF4A6B;
  border:1px solid #B23D53;
  border-radius: 2px;
  padding:10px 16px 10px 16px;
}

.button-CTA:hover{
  cursor:pointer;
}

.button-CTA > span{
  margin:auto;
  color:#FEFEFE;
  font-family: 'Roboto', sans-serif;
  font-size:11.5pt;
  font-weight:400;
  letter-spacing:.4px;
}


animation: fadeInAnimation ease 1s;
animation-iteration-count: 1;
animation-fill-mode: forwards;
